<div class="flex flex-row justify-center">
  <ng-container
    *ngIf="currentHeight > 0 || currentLenght > 0; else startButtonContainer"
  >
    <div class="body flex flex-row">
      <div>
        <form
          [formGroup]="matrizForm"
          class="flex gap-3 items-center justify-center"
        >
          <div *ngFor="let line of matriz; let lineIndex = index">
            <div class="mt-3" *ngFor="let item of line; let colIndex = index">
              <input
                class="w-11 h-11 flex text-2xl rounded-lg font-semibold text-white text-center"
                type="text"
                [ngClass]="{
                  'bg-red-500': inputCell?.errors && inputCell?.touched,
                  'bg-zinc-700': inputCell?.valid
                }"
                (keydown.enter)="focusNextInput($event, lineIndex, colIndex)"
                formControlName="inputCell"
                [attr.data-line]="lineIndex"
                [attr.data-col]="colIndex"
              />
            </div>
          </div>
        </form>

        <div class="flex gap-5 w-full items-center justify-center mt-4 h-8">
          <app-arrows
            [isDisabled]="isUpArrowDisabled"
            (sizeChangeEvent)="handleSizeChange($event)"
            direction="arrow-up"
          />
          <app-arrows
            [isDisabled]="isDownArrowDisabled"
            (sizeChangeEvent)="handleSizeChange($event)"
            direction="arrow-down"
          />
        </div>
      </div>
      <div
        class="flex gap-5 flex-col w-full items-center justify-center ml-4 mb-8"
      >
        <app-arrows
          [isDisabled]="isLeftArrowDisabled"
          (sizeChangeEvent)="handleSizeChange($event)"
          direction="arrow-left"
        />
        <app-arrows
          [isDisabled]="isRightArrowDisabled"
          (sizeChangeEvent)="handleSizeChange($event)"
          direction="arrow-right"
        />
      </div>
    </div>
  </ng-container>
  <ng-template #startButtonContainer class="flex items-center justify-center"
    ><app-button (click)="handleStartMatriz()"
  /></ng-template>
</div>
